@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Twój komis samochodowy!</h1>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Zobacz ogłoszenia &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pierwszy raz u nas?</h2>
        <p>
            Proces złożenia zamówienia jest prosty i bardzo intuicyjny.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Lista ogłoszeń &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Masz pytania?</h2>
        <p>Jesteśmy dostępni 24 godziny przez 7 dni pod telefonem - zawsze odpowiemy na Twoje pytania!</p>
        <p><a class="btn btn-default">+48 123456789</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sprawdź wystawione nam opinie</h2>
        <p>Zadowolenie klienta jest dla nas najważniejsze</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Opinie użytkowników &raquo;</a></p>
    </div>
</div>